@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

.second-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 25px;
}

.cont-container {
    display: flex;
    gap: 15px;
    font-weight: bold;
}

.contador-container {
    color: white;
    background-color: #0A317B;
    padding: 2px 12px;
    height: 30px;
    border-radius: 6px;
}

.third-container {
    margin: 10px;
}

.not-container {
    background-color: #F7FBFC;
    margin: 8px;
    border-radius: 8px;
}

.not-container-1 {
    background-color: white;
    margin: 8px;
    border-radius: 8px;
}

.not-container-flex {
    display: flex;
    padding: 15px;
}

.container-name {
    margin-left: 15px;
    color: #5F6779;
}

.span-name {
    color: black;
    font-weight: bold;
    margin-right: 3px;
}

.container-avatar img {
    width: 48px;
    height: 48px;
}

i {
    margin-left: 6px;
    color: red;
    font-size: 8px;
}

.container-text {
    
}


